<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horse_05_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{56,112}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{56,112}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,538},{60,112}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,26},{60,112}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,726},{58,84}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{58,84}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,706},{60,104}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{60,104}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,600},{104,110}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{104,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{78,110}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,26},{78,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,770},{78,80}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,23},{78,80}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{86,106}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,25},{86,106}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{144,108}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{144,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,426},{120,110}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{120,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,454},{118,88}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{118,88}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,352},{136,100}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{136,100}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,108}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{166,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{164,108}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{164,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,118},{160,88}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{160,88}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{162,108}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{162,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,108}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,26},{166,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{164,114}}</string>
                <key>offset</key>
                <string>{27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{164,114}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,208},{158,114}}</string>
                <key>offset</key>
                <string>{30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{158,114}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,112},{162,128}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,5},{162,128}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,242},{144,108}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,26},{144,108}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{120,110}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{120,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,438},{118,88}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,26},{118,88}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,324},{136,100}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,26},{136,100}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,558},{104,110}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,26},{104,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,602},{78,110}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,26},{78,110}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,768},{78,80}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,23},{78,80}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,682},{86,106}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,25},{86,106}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,544},{56,112}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,26},{56,112}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,324},{60,112}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,26},{60,112}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,726},{58,84}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,26},{58,84}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
            <key>horse_05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,664},{60,104}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,26},{60,104}}</string>
                <key>sourceSize</key>
                <string>{218,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_blue.png</string>
            <key>size</key>
            <string>{512,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f73faa4dcfa0a5a02352e09042d752$</string>
            <key>textureFileName</key>
            <string>yellow_blue.png</string>
        </dict>
    </dict>
</plist>
